table{
    border: solid blue 8px;
    border-collapse: collapse;
    margin: auto;
    border-style: outset;
}
th{
    border: solid blue 2px;
    background-color: darkgreen;
    color: lightgreen;
}
td{
    border: solid blue 2px;
}
.filaTitulo{
    background-color: darkgreen;
    color: lightgreen;
    text-align: center;
}
.filaPar{
    background-color: lightgreen;
}
.filaImpar{
    background-color: green;
}
.col-centrado{
    text-align: center;
}
.formatoIndice{
    margin: 1em;
    font-family: 'Trebuchet MS';
}
