table{
    border: solid blue 8px;
    border-style: outset;
    border-collapse: collapse;
    margin: auto;
}
th{
    border: solid blue 2px;
    background-color: darkgreen;
    color: lightgreen;
}
tr{
    border: solid blue 2px;
}
td{
    border: solid blue 2px;
}
.filaTitulo{
    background-color: darkgreen;
    color: lightgreen;
    text-align: center;
}
.filaPar{
    background-color: lightgreen;
}
.filaImpar{
    background-color: green;
}
