table{
    border: outset cyan 5px;
    border-collapse: collapse;
    margin: auto;
}
th{
    border: solid cyan 2px;
    background-color: rgb(1, 21, 1);
    color: lightgreen;
}
td{
    border: solid cyan 2px;
}
.filaTitulo{
    background-color: darkgreen;
    color: lightgreen;
    text-align: center;
}
.filaPar{
    background-color: lightgreen;
}
.filaImpar{
    background-color: rgb(72, 117, 72);
}
.col-centrado{
    text-align: center;
}
.formatoIndice{
    margin: 1em;
    font-family: 'Trebuchet MS';
}
